## Задание 1
Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” к этому занятию.
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [25]:
import pandas as pd

In [52]:
%%time

movie = pd.read_csv('movies.csv', sep=',', encoding = 'utf-8') 
rating = pd.read_csv('ratings.csv', sep=',', encoding = 'utf-8')
joined = rating.merge(movie, on = 'movieId', how = 'left') # объединяю 2 таблицы по совпадающей колонке "movieId"
rating_max = 5.0
result = joined[joined['rating'] == rating_max]['title'].value_counts().idxmax()
print(result)

Shawshank Redemption, The (1994)
CPU times: total: 93.8 ms
Wall time: 66.7 ms

In [54]:
""" Проверка.
Cписок фильмов, по убыванию, которым было выставлено больше всего оценок 5.0. 
Показывает, что в ответе указан фильм с максимальным количеством оценок 5.0 и это значение уникально."""
result_list = joined[joined['rating'] == rating_max]['title'].value_counts().head()
print(result_list)

title
Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: count, dtype: int64

## Задание 2
По данным файла power.csv (находится в “Материалы к домашнему заданию”) посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [219]:
%%time

power = pd.read_csv('power.csv', sep=',', encoding = 'utf-8')
filter_power = power[
    (power['year'].isin(range(2005, 2011)))&
    (power['country'].isin(['Latvia', 'Lithuania','Estonia']))&
    (power['category'].isin([4, 12, 21]))&
    (power['quantity']>=0)
]
grouped_sum = filter_power.groupby('country')['quantity'].sum()
print(grouped_sum.sum())

240580.0
CPU times: total: 484 ms
Wall time: 381 ms

In [221]:
# проверка написания названий стран в файле
power[power['country'].str.contains('li|latv|est|balti', case=False)]['country'].unique()

array(['Korea, Republic of', 'Lithuania', 'Australia', 'Philippines',
       'Republic of Moldova', 'Latvia', 'Belize',
       'Bolivia (Plur. State of)', 'Dominican Republic', 'Estonia',
       'Liberia', 'Libya', 'Venezuela (Bolivar. Rep.)', 'Mali',
       'Syrian Arab Republic', 'Somalia', 'State of Palestine',
       'Mongolia', 'Timor-Leste', 'Liechtenstein',
       'Wallis and Futuna Is.'], dtype=object)

In [225]:
# проверка правильности фильтрации в рабочем файле
print(filter_power['year'].unique(), filter_power['country'].unique(), filter_power['category'].unique(), grouped_sum)

[2008 2007 2006 2005 2010 2009] ['Estonia' 'Lithuania' 'Latvia'] [ 4 12 21] country
Estonia       63440.0
Latvia        54844.0
Lithuania    122296.0
Name: quantity, dtype: float64