## Задание 1
Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” к этому занятию.
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [25]:
import pandas as pd

In [52]:
%%time

movie = pd.read_csv('movies.csv', sep=',', encoding = 'utf-8') 
rating = pd.read_csv('ratings.csv', sep=',', encoding = 'utf-8')
joined = rating.merge(movie, on = 'movieId', how = 'left') # объединяю 2 таблицы по совпадающей колонке "movieId"
rating_max = 5.0
result = joined[joined['rating'] == rating_max]['title'].value_counts().idxmax()
print(result)

Shawshank Redemption, The (1994)
CPU times: total: 93.8 ms
Wall time: 66.7 ms

In [54]:
""" Проверка.
Cписок фильмов, по убыванию, которым было выставлено больше всего оценок 5.0. 
Показывает, что в ответе указан фильм с максимальным количеством оценок 5.0 и это значение уникально."""
result_list = joined[joined['rating'] == rating_max]['title'].value_counts().head()
print(result_list)

title
Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: count, dtype: int64

## Задание 2
По данным файла power.csv (находится в “Материалы к домашнему заданию”) посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [58]:
power = pd.read_csv('power.csv', sep=',', encoding = 'utf-8')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [64]:
#transaction = pd.read_csv('transactions.csv', sep=',', encoding = 'utf-8')
#transaction.head()

In [ ]:
power[power['country'].str.contains(('Latvia', 'Lithuania', 'Estonia', 'Baltic'), case=False)]['country'].unique()

In [118]:
power[power['country'].str.contains('latv', case=False)]['country'].unique()

array(['Latvia'], dtype=object)

In [120]:
power[power['country'].str.contains('lith', case=False)]['country'].unique()

array(['Lithuania'], dtype=object)

In [122]:
power[power['country'].str.contains('est', case=False)]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [126]:
power[power['country'].str.contains('baltic', case=False)]['country'].unique()

array([], dtype=object)

In [96]:
df = pd.DataFrame(
    {
        'country':['Латвия','Россия','Эстония','Эстония','Беларусь','Литва','Литва'],
        'year':['2005', '2007', '2000', '2009', '1997', '2010', '1960'],
        'quantity':[35, 10, 68, 0, 78, 66, 55],
        'category':[5, 4, 21, 4, 21, 4, 12]
    }
)
df

    country  year  quantity  category
0    Латвия  2005        35         5
1    Россия  2007        10         4
2   Эстония  2000        68        21
3   Эстония  2009         0         4
4  Беларусь  1997        78        21
5     Литва  2010        66         4
6     Литва  1960        55        12

In [128]:
df[df['country'].str.contains('тв', case=False)]['country'].unique()

array(['Латвия', 'Литва'], dtype=object)

In [98]:
def complex_filter(row):
    country = row['country']
    year = row['year']
    category = row['category']
    quantity = row['quantity']
    if quantity >= 0:
        if year in ['2005', '2006', '2007', '2008', '2009', '2010']:        
            if country in ['Латвия', 'Литва', 'Эстония']:
                if category in [4, 12, 21]:
                    return True
    return False

#power[power.apply(complex_filter, axis=1)]
df[df.apply(complex_filter, axis=1)]

   country  year  quantity  category
3  Эстония  2009         0         4
5    Литва  2010        66         4