## Задание 1
Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” к этому занятию.
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [25]:
import pandas as pd

In [27]:
movie = pd.read_csv('movies.csv', sep=',', encoding = 'utf-8')

In [29]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [31]:
rating = pd.read_csv('ratings.csv', sep=',', encoding = 'utf-8')

In [33]:
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [35]:
joined = rating.merge(movie, on = 'movieId', how = 'left')

In [37]:
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [39]:
rating_max = 5.0
result = joined[joined['rating'] == rating_max]['title'].value_counts().idxmax()
print(result)

Shawshank Redemption, The (1994)

In [41]:
result2 = joined[joined['rating'] == rating_max]['title'].value_counts().head()
print(result2)

title
Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: count, dtype: int64